.account-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem;
}

.list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  max-width: 37.5rem;
  margin-top: 1rem;
  list-style: none;
}

.link {
  text-decoration: none;
  color: #000;
}

.active {
  color: red;
}

.logout {
  cursor: pointer;
}
