.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5rem;

  h1 {
    font-size: 3rem;
  }
}

.login {
  background: lightgray;
  border: 1px solid darkgray;
  border-radius: 1rem;
  padding: 1rem 3rem;
  margin-bottom: 3rem;
  margin-top: 3rem;
}

.form {
  display: flex;
  flex-direction: column;

  input {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input:focus {
    outline: none;
  }
}

.actions {
  display: flex;
  justify-content: space-evenly;
}
