<section class="container">
  <div class="logo">
    <h1>ALPHA</h1>
  </div>
  <div class="login">
    <div class="welcome">
      <h2>Bem-vindo</h2>
      <h3>Faça login na sua conta PJ</h3>
    </div>
    <form [formGroup]="applyForm" (submit)="submitLogin()" class="form">
      <label for="cnpj">E-mail</label>
      <input
        class="input"
        type="email"
        id="email"
        name="email"
        formControlName="email"
        placeholder="Informe o e-mail"
        required
      />

      <label for="password">Senha</label>
      <input
        class="input"
        type="password"
        id="password"
        name="password"
        formControlName="password"
        placeholder="Defina uma nova senha"
        required
      />
      <div class="actions">
        <button class="action-button" type="submit">Entrar</button>
        <button
          class="action-button"
          type="reset"
          (click)="cancelLogin()"
          routerLink="/home"
        >
          Voltar
        </button>
      </div>
    </form>
  </div>
</section>
