<div class="container">
  <div class="title">
    <h1>Bem-vindo à um banco único</h1>
    <h2>Seu banco digital com mais simplicidade, segurança e praticidade.</h2>
  </div>
  <div class="info">
    <h3>Conheça nossas facilidades</h3>
    <div class="boxes">
      <div class="box">
        <h4>Empréstimo</h4>
        <p>
          Transparentes e seguros. Opções de empréstimos que deixam você no
          controle.
        </p>
      </div>
      <div class="box">
        <h4>Pix</h4>
        <p>Faça um Pix de forma rápida e segura.</p>
      </div>
      <div class="box">
        <h4>Cartão de crédito</h4>
        <p>
          Um cartão completo, moderno e com anuidade zero. Tenha total controle
          da sua vida financeira.
        </p>
      </div>
    </div>
  </div>

  <div class="open">
    <img
      src="../../../assets/open-account.jpg"
      alt="Hand holding cellphone and typing"
      class="new-account-img"
    />
    <div class="open-text">
      <h2>Abra sua conta</h2>
      <div class="new-account">
        <h3>
          Abra sua conta corrente e tenha acesso a todos os nossos serviços.
        </h3>
        <a routerLink="/nova-conta" class="button">Abrir conta </a>
      </div>
    </div>
  </div>
</div>
