.container {
  margin: 0 auto;
  margin-bottom: -5rem;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;

  width: 600px;
  height: 100%;
}

.title {
  display: flex;
  justify-items: start;
  width: 100%;

  margin: 3rem 0 2rem 0;
}
