<header
  class="main-header"
  *ngIf="
    router.url === '/home' ||
    router.url === '/solucoes' ||
    router.url === '/nova-conta'
  "
>
  <div class="first-column">
    <h1>ALPHA</h1>
  </div>

  <nav class="second-column">
    <ul class="second-column">
      <li>
        <a routerLink="home" routerLinkActive="active" class="link">Home</a>
      </li>
      <li>
        <a routerLink="solucoes" routerLinkActive="active" class="link"
          >Para você</a
        >
      </li>
      <li>
        <a routerLink="solucoes" routerLinkActive="active" class="link"
          >Para sua empresa</a
        >
      </li>
      <li>
        <a routerLink="nova-conta" routerLinkActive="active" class="link"
          >Abra sua conta</a
        >
      </li>
    </ul>
  </nav>
  <div class="third-column">
    <a routerLink="login" class="account-access">Acesse sua conta</a>
  </div>
</header>
