<header class="main-header">
  <div class="first-row">
    <div></div>
    <h1>ALPHA</h1>
    <a href="" class="access-account">Acesse sua conta</a>
  </div>
  <nav class="second-row">
    <ul class="second-row">
      <li>
        <a routerLink="home" routerLinkActive="active" class="link"
          >Institucional</a
        >
      </li>
      <li>
        <a routerLink="solucoes" routerLinkActive="active" class="link"
          >Soluções</a
        >
      </li>
      <li>
        <a routerLink="nova-conta" routerLinkActive="active" class="link"
          >Abra conta</a
        >
      </li>
    </ul>
  </nav>
</header>
